**/data
**/results
*.Rproj
*.out
*.fa
*.fna
*.gff
*.gtf
*.bam
*.bai
*.ht2
*.err
*.zip
*.gzip
*fastq
*html
*.gz
*.counts
*.counts_2
*.html
**/genome
.DS_Store
.Rproj.user
.Rhistory
!sbf1.bed.gz
!sbf1_off.bed.gz
